<h1>FRESCA</h1>
<h2>Administrative Tasks</h2>
	<ul>
		<li><%= link_to 'Manage Courses', controller: 'courses' %></li>
		<li><%= link_to 'Manage Players', controller: 'players' %></li>
		<li><%= link_to 'Manage Tournaments', controller: 'tournaments' %></li>
	</ul>

<h2>Player Tasks</h2>
	<ul>
		<li>View Ongoing Tournament</li>
	</ul>